*{
    margin: 0%;
    padding: 0%;
    box size: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

div.container{
    height: 100%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    /* background-color: lightcoral; */
    /* border: 2px solid black; */
    position: relative;
    display: flex;
    box-shadow: 2px 2px 5px black;
}
img{
    height: 300px;
    width: 300px;
}

div.image{
    position: relative;
    padding: 25px;
    
    
}
b{
    margin-left: 25%;
}