* {
    margin: 0%;
    padding: 0%;
    box size: border-box;
}

html,body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#box {
    height: 100%;
    width: 50%;
    margin-left: 25%;
    margin: right 25%; ;
    border: 2px solid rgb(254, 196, 88);
    box-shadow: 2px 2px 5px rgb(240, 191, 117);
    
}
span{
    margin-top: 10%;
}